{% extends 'base.html' %}
{% block title %}Страница не найдена{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Невероятно, но такой страницы не существует...</h1>
        </div>
    </div>
{% endblock %}