{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <script>
        var csrfToken = "{{ csrf_token }}";
    </script> -->
    <script src="{% static 'js/main.js' %}"></script> 
    <title>
        {% block title %}OMUS{% endblock %}
    </title>
</head>

<body class="container-fluid">
    <header>
        <div class="container">
            <div class="row">
                {% block header %}
                    <div class="col-md col-sm-12" id="logo">
                        <a href="../">#НМОпоРМ</a>
                    </div>
                    <div class="col-md col-sm-12">
                        <a href="../news/">новости</a>
                    </div>
                    <div class="col-md col-sm-12">
                        <a href="../for-schoolboys/">школьникам</a>
                    </div>
                    <div class="col-md col-sm-12">
                        <a href="../for-students/">студентам</a>
                    </div>
                    <div class="col-md col-sm-12">
                        <a href="../about/">о нас</a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>        
    </main>
    <footer>
        &copy; ПИЯФ. НМО по РМ. Все права защищены
    </footer>
</body>

</html>