{% extends 'base.html' %}
{% block title %}События{% endblock %}
{% block content %}
    <!-- <div class="row headers">
        <div class="col-9">
            <h1>НОВОСТИ</h1>
        </div>
        <div class="col-3">
            <h1>КАЛЕНДАРЬ</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="row" id="news">
                {% for newsItem in news %}
                    <div class="col-6 newsItem">
                        <div class="preview">
                            <img src="/media/{{ newsItem.previewImage }}">
                        </div>
                        <div class="readMore">
                            <div class="readMoreButton">
                                <a href="{{ newsItem.slug }}">Читать</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3" id="calendar">
            {% for event in monthEvents %}
                {{ event.content }}
            {% endfor %}                
        </div>
    </div> -->
    <div id="newsViewer">
        <div class="row" id="titleRow">
            <div class="col">
                <div class="col-12" id="title">
                    {{ currentEvent.title }}
                </div>
                <div class="col-12" id="publicationDate">
                    дата события: {{ currentEvent.date|date:"d.m.Y" }}
                </div>
            </div>
            <div class="col" id="returnToNews">
                <a href="../../news/">< <span>вернуться к новостям</span></a>
            </div>                    
        </div>
        <div class="row">
            <div class="col" id="content">
                {{ currentEvent.description|safe }}
            </div>
        </div>
    </div>
{% endblock %}