{% extends 'base.html' %}
{% block title %}Новости{% endblock %}
{% block content %}
    {% if currentNews == None %}
        <div class="row">
            <div class="col-md-9 col-12">
                <div class="col-12 headers">
                    <h1>НОВОСТИ</h1>
                </div>
                <div class="row" id="news">
                    {% for newsItem in news %}
                        <div class="col-md-6 col-12 newsItem">
                            <div class="preview">
                                <img src="/media/{{ newsItem.previewImage }}">
                            </div>
                            <div class="readMore">
                                <div class="readMoreButton">
                                    <a href="/news/{{ newsItem.slug }}">Читать</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 col-12" id="calendar">
                <div class="col-12 headers">
                    <h1>КАЛЕНДАРЬ</h1>
                </div>
                <div class="col" id="calendarLoaderIcon"></div>
                <div class="row" id="monthRow">
                    <a href="" id="toPastArrow">
                        <div></div>
                    </a>                        
                    <div class="month" id="month">
                        {{ currentMonth }}
                        <!-- <span>Загрузка...</span> -->
                    </div>
                    <a href="" id="toFutureArrow">
                        <div></div>
                    </a>  
                </div>
                <div class="col" id="monthEventsContainer">                
                    {% for event in monthEvents %}
                        <div class="row eventRow">
                            <div class="eventDate">
                                {{ event.numberOfDay }}<br>
                                {{ event.wordOfDay | upper }}
                            </div>
                            <div class="eventTitle">
                                <a href="/events/{{ event.date|date:'Y-m-d' }}/{{ event.slug }}">
                                    <span>
                                        {{ event.title }}
                                    </span>
                                </a>                            
                            </div>
                        </div>                    
                    {% endfor %}
                </div>    
            </div>
        </div>
    {% else %}
        <div id="newsViewer">
            <div class="row" id="titleRow">
                <div class="col">
                    <div class="col-12" id="title">
                        {{ currentNews.title }}
                    </div>
                    <div class="col-12" id="publicationDate">
                        опубликовано {{ currentNews.publicationDate|date:"d.m.Y" }}
                    </div>
                </div>
                <div class="col" id="returnToNews">
                    <a href="../news/">< <span>вернуться к новостям</span></a>
                </div>                    
            </div>
            <div class="row">
                <div class="col" id="content">
                    {{ currentNews.content|safe }}
                </div>
            </div>
            <div class="row" id="imageGallery">
                {% for imagePath in gallery %}
                    <div class="col">
                        <img src="/media/{{ imagePath }}" style="width: 100%">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}